body{
    display: flex;
    justify-content: center;
}
.container{
    width: 1600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.post{
    width: 200px;
    margin: 20px;
    border: 1px solid black;
}
.comment{
    width: 150px;
    margin: 5px;
    border: 1px solid blue;
}
